/* GLOBAL VARIABLES
---------------------------------------------------------------------------------- */

/* Colors
-------------------------------------------------- */

:root {
  --c-text-regular: #2a2a2a;
  --c-text-light: #666;
  --c-text-lighter: #999;

  --c-bg: #fff;
  --c-shade-light: #eee;
  --c-shade-strong: #444;

  --c-brand-primary: #ff8000;
  --c-brand-secondary: #1574f5;
  --c-brand-secondary-dark: #0953bd;

  // fixme: experimental setting for inverse areas
  & [data-dss-inv] {
    --c-text-regular: #fff;
  }
}

/* /Colors
-------------------------------------------------- */

/* Font size
-------------------------------------------------- */

:root {
  --fz-h-scale: 0.75;
  --fz-scale: 0.9375;

  --fz-hero: calc(4rem * var(--fz-h-scale));
  --fz-h1: calc(2.4rem * var(--fz-h-scale));
  --fz-h2: calc(1.8rem * var(--fz-h-scale));
  --fz-h3: calc(1.5rem * var(--fz-h-scale));
  --fz-h4: 1rem;

  --fz-xxl: var(--fz-h1);
  --fz-xl: var(--fz-h2);
  --fz-l: var(--fz-h3);
  --fz-n: calc(1rem * var(--fz-scale));
  --fz-m: calc(0.875rem * var(--fz-scale));
  --fz-s: calc(0.75rem * var(--fz-scale));

  @include respond($mq-tablet) {
    --fz-h-scale: 1;
    --fz-scale: 1;
  }
}

/* /Font size
-------------------------------------------------- */

/* Line-height
-------------------------------------------------- */

:root {
  --lh-null: 0;
  --lh-reset: 1;
  --lh-compact: 1.2;
  --lh-regular: 1.4;
  --lh-loose: 1.8;
}

/* /Line-height
-------------------------------------------------- */

/* Spacing
-------------------------------------------------- */

:root {
  --space-unit: 1rem;

  --space-xs: calc(0.25 * var(--space-unit));
  --space-s: calc(0.5 * var(--space-unit));
  --space-m: calc(0.75 * var(--space-unit));
  --space-n: calc(1 * var(--space-unit));
  --space-l: calc(1.5 * var(--space-unit));
  --space-xl: calc(2 * var(--space-unit));
  --space-xxl: calc(3 * var(--space-unit));
}

/* /Spacing
-------------------------------------------------- */

/* /GLOBAL VARIABLES
---------------------------------------------------------------------------------- */
