/* stylelint-disable selector-max-type */

main {
  display: block;
}

a {
  color: var(--c-brand-secondary); // fixme: temp

  text-decoration: none;

  @include hover() {
    text-decoration: underline;
  }
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
