/* Breakpoints
-------------------------------------------------- */

$mq-tablet: 980px;
$mq-tablet-max: 1199px;

$mq-desktop: 1200px;
$mq-desktop-max: 1399px;

$mq-wide: 1400px;
$mq-wide-max: 1599px;

/* /Breakpoints
-------------------------------------------------- */
