.button {
  display: inline-block;
  vertical-align: middle;

  height: calc(var(--lh-regular) * var(--fz-n) + var(--space-s) * 2 + 2px);
  padding: var(--space-s) var(--space-l);

  border: 1px solid;
  box-shadow: none;

  font-size: var(--fz-n);
  white-space: nowrap;
  line-height: var(--lh-regular);
  font-weight: normal;
  text-align: center;
  text-decoration: none;

  cursor: pointer;
  appearance: none;
  user-select: none;

  background: var(--c-brand-secondary);
  color: var(--c-text-regular);

  @include hover() {
    text-decoration: none; // for the links
  }

  &:active {
    background: var(--c-brand-secondary-dark);

    transform: translateY(1px);
  }
}
